<div class="page-header">
  <h3>My Favorite #<%= @my_favorite.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Dish</dt>
      <dd>
        <% if @my_favorite.dish.present? %>
          <a href="/dishes/<%= @my_favorite.dish_id %>">
            <%= @my_favorite.dish.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Restaurant</dt>
      <dd>
        <% if @my_favorite.restaurant.present? %>
          <a href="/venues/<%= @my_favorite.restaurant_id %>">
            <%= @my_favorite.restaurant.address %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/my_favorites" class="btn btn-primary">
        Back
      </a>
      <a href="/my_favorites/<%= @my_favorite.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_my_favorite/<%= @my_favorite.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
